<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 
		<property name="hibernate.connection.username">xingfeng</property>
		<property name="hibernate.connection.password">xingfeng</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@182.61.34.213:1521/orcl</property>
		 -->
		<property name="hibernate.connection.autocommit">true</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property> 
		<!-- 
		<property name="hibernate.hbm2ddl.auto">update</property>
		-->
		<property name="hibernate.show_sql">true</property>
		
		
		
		<!-- 启动二级缓存
		<property name="cache.use_second_level_cache">true</property> -->
		<!-- 指定使用哪种二级缓存 
		<property name="cache.provider_class">org.hibernate.cache.OSCacheProvider</property>-->
		
		<mapping resource="com/xingfeng/domain/XftxUser.hbm.xml"/>
		<mapping resource="com/xingfeng/domain/XftxCountry.hbm.xml"/>
		<mapping resource="com/xingfeng/domain/XftxCity.hbm.xml"/>
		<mapping resource="com/xingfeng/domain/XftxCriticism.hbm.xml"/>
		<mapping resource="com/xingfeng/domain/XftxImg.hbm.xml"/>
		<mapping resource="com/xingfeng/domain/XftxTheme.hbm.xml"/>
		<mapping resource="com/xingfeng/domain/XftxItem.hbm.xml"/>
		<mapping resource="com/xingfeng/domain/XftxProvince.hbm.xml"/>
		<!-- 
		<class-cache class="com.xingfeng.domain.XftxCountry" usage="read-write"/>
		 -->
	</session-factory>
</hibernate-configuration>