body{
	padding: 0;
	margin: 0;
	width: 100%;
}
a:LINK{
	text-decoration: none;
	color:#e6e6e6;
}
a:VISITED{
	text-decoration: none;
	color:#e6e6e6;
}
a:HOVER{
	text-decoration:none;
	color:#008080;
}
a:ACTIVE{
	text-decoration: none;
	color:#e6e6e6;
}





.top{
	width: 100%;
	height: 8%;
	background-color: #1d518f;
	
}
.top_left{
	width: 2%;
	height: 100%;
	float: left;
}


.top_img{
	width: 6%;
	height: 100%;
	text-align: center;
	position:relative;
	float: left;
}

.top_img_size{
	width: 100%;
	height: 80%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
}

.top img{
	 width:auto;
	 height:auto;
	 max-width:100%;
	 max-height:100%;
}


.top_line{
	width: 1px;
	height: 100%;
	float: left;
	position:relative;
}
.top_line div{
	width: 1px;
	height: 70%;
	
	float: left;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
}



.top_item{
	width: 40%;
	height: 100%;
	text-align: center;
	position:relative;
	float: left;
}
.top_item ul{
	margin:0;
	padding:0;
}
.top_item li{
	float:left;
	width: 19%;
	height: 100%;
	list-style-type:none; 
	display:block;
	color: #e6e6e6;
	position:relative;
	
}
.top_item ul li:hover{ 
	background:#9191ff; 
}


.top_item li a{
	float:left;
	width: 100%;
	height: 50%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
}


.top_right{
	width: 2%;
	height: 100%;
	float: right;
}

.top_login{
	width: 20%;
	height: 100%;
	float: right;
	position:relative;
	color: #e6e6e6;
}
.top_login div{
	width: 100%;
	height:60%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	text-align: right;
	
	font-size: 18px;
}
.top_login:hover{ 
	background:#9191ff; 
}

.top_serach{
	width: 20%;
	height: 100%;
	float: right;
	position:relative;
}
.top_serach div{
	width:100%;
	height:70%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	text-align: center;
}

.input_serace{
	size: 18;
	width:80%;
	height:100%;
	border: 1px solid #a6a6a6;
	float: left;
	background:none;
	color: #cacaca;
	font-style: italic;
}










.center_left{
	width: 14%;
	height: 86%;
	background-color: #bfccee;
	float: left;
}
.center_left ul{
	margin: 0;
	padding: 0;	
}
.center_left ul li{
	width: 100%;
	height: 9%;
	
	position:relative;
	
}

.center_left ul li:HOVER{
	background-color:#9eb3e0;
}


.center_left ul li a{
	width: 50%;
	height: 50%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	font-size: 16px;
}

.center_left ul li a:LINK{
	text-decoration: none;
	color:#041e62;
}
.center_left ul li a:VISITED{
	text-decoration: none;
	color:#041e62;
}
.center_left ul li a:HOVER{
	text-decoration:none;
	color:#008080;
}
.center_left ul li a:ACTIVE{
	text-decoration: none;
	color:#041e62;
}















.center_right{
	width: 86%;
	height: 86%;
	background-color: #e7e7e7;
	float: left;
}
.center_right_top{
	width: 100%;
	height: 9%;
	background-color: #f1f1f1;
	float: left;
	position:relative;
}
.center_right_top span{
	width:95%;
	height:40%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	font-size: 15px;
	color: #008080;
}
.center_right_top_baidu span{
	width:95%;
	height:40%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	font-size: 15px;
	color: #008080;
} 

.center_right_top_span{
	width:15%;
	height:100%;
	font-size: 18px;
	color: #008080;
	float: left;
} 

.center_right_top_baidu{
	width: 100%;
	height: 9%;
	background-color: #f1f1f1;
	float: left;
	position:relative;
}
.baiduImgsear{
	width:30%;
	float: left;
}
.baiduImgsear input{
	width:30%;
	height:80%;
	position:absolute;
	margin-top: 0.4%;
}
.baiduImgNext{
	width:30%;
	float: left;
	background-color: red;
}
.baiduImgNext input{
	width:10%;
	height:80%;
	position:absolute;
	margin-top: 0.4%;
	margin-left: 31%;
}



.main_center_right_top{
	width: 100%;
	height: 9%;
	background-color: #f1f1f1;
	float: left;
}
.main_mcrt1 span{
	width:95%;
	height:40%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	font-size: 15px;
	color: #008080;
} 

.main_mcrt2 input{
	width:50%;
	height:70%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	font-size: 15px;
	color: #008080;
} 
.main_mcrt1{
	width:80%;
	height:100%;
	float: left;
	position:relative;
}
.main_mcrt2{
	width:20%;
	height:100%;
	float: left;
	position:relative;
}

.center_right_cent{
	width: 100%;
	height: 91%;
	background-color: #d9e9ff;
	float: left;
	position:relative;
}


.center_right_centz{
	width: 98%;
	height: 96%;
	background-color: #f1f1f1;
	float: left;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #d0d0ff;
}
.crcczz{
	width: 100%;
	height: 100%;
	position:relative;
	
}
.crccz{
	width: 98%;
	height: 95%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	overflow-y:auto;
	
}
#crcc{
	width:32%;
	margin-left:8px;
	margin-bottom:6px;
	height: 48%;
	float: left;
	border: 2px solid #ffffff;
	background-color: #c0c0c0;
}
#crcc:HOVER{
	background-color: #7dd5ff;
}
.center_right_centz_user{
	width: 98%;
	height: 96%;
	float: left;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #d5d5d5;
}
.crccz_user{
	width: 98%;
	height: 95%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	
}
.user_lg{
	width:100%;
	height: 10%;
	position:relative;
}

.user_lgs{
	width: 95%;
	height: 60%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
}



.user_lgleft{
	width:6%;
	height: 90%;
	float: left;
}
#crcc_user{
	width:100%;
	height: 100%;
	float: left;
	background-color: #f1f1f1;
}
#crcc_user_uimg{
	width:100%;
	height: 100%;
	float: left;
	background-color: #f1f1f1;
	overflow-y:auto;
}
#crcc img{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	float: left;
}
.user_img{
	width:11%;
	height:25%;
	float: left;
	text-align: center;
}

.user_img img{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	float: left;
}









.user_imgs{
	width:100%;
	height:100%;
	float: left;
	text-align: right;
}
.user_imgs img{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	float: left;
}
.p_text{
	width:33%;
	margin-top:20px;
	margin-left:5px;
	float: left;
}
.p_text_user{
	width:30%;
	margin-top:20px;
	margin-left:10px;
	float: left;
	
}

.p_text_item{
	width:70%;
	height:90%;
	float: left;
}


.p_text_item ul{
	margin: 0;
	margin-top: 5px;
	
}

.p_text_item_li{
	width:16%;
	font-size: 16px;
	color: #616161;
	list-style-type: none;
	float: left;
}


.itemName{
	width:60%;
	height: 10%;
	font-size: 16px;
}

.itemMark{
	width:20%;
	height: 10%;
}

.itemTheme{
	width:20%;
	height: 50%;
	float: left;
}


.city_divs1{
	width:100%;
	height:13%;
	float: left;
}
.city_divs2{
	width:100%;
	height:13%;
	float: left;
}
.city_divs3{
	width:100%;
	float: left;
}
.city_divs4{
	width:100%;
	float: left;
}

.itemAbout{
	width:60%;
	height: 30%;
}

.p_text_item_li_submit {
	width:100%;
	height:10%;
	text-align: right;
}

.p_text_item_li_submit input{
	width:16%;
	height:100%;
}
.item_choose_img{
	width:50%;
	height:100%;
}





.p_text ul{
	width:80%;
}



.p_text ul li{
	width:100%;
	text-align: left;
	white-space:normal;
}



















.bottom{
	width: 100%;
	height: 6%;
	background-color: #cdcdcd;
	position:fixed;
	bottom:0px;
	left:0px;
}
.bottom div{
	width: 30%;
	height: 100%;
	position:relative;
	float: right;
	
}

.bottom div div{
	width: 100%;
	height: 50%;
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	margin: auto;
}





.register_title{
	width: 100%;
	height: 10%;
	text-align: center;
	color: #53a9ff;
}
.register_line{
	width: 100%;
	height: 0.5%;
	background-color: #8080ff;
}
.register_reg{
	
	width: 100%;
	height: 83.5%;
	text-align: center;
	
}
.maginss{
	width:100%;
	height:20%;
	float: left;
}

.maginss1{
	width:30%;
	height:50%;
	float: left;
}
.maginss2{
	width:40%;
	height:50%;
	float: left;
}

.register_input{
	width:100%;
	height:100%;
	float:left;
}
.register_input tr{
	width:100%;
}


.inp_1{
	width:30%;
	text-align: center;
}
.inp_2{
	text-align:center;
	width:70%;
	
}
.reg_button{
	width:95%;
	height:80%;
	text-align: center;
}

.input_1{
	width:95%;
	height:80%;
	background-color: none;
	color: #d3d3d3;
}
.register_butr{
	text-align: center;
}







.baidu_img{
	float: left;
	width: 20%;
}
.baidu_img img{
	width: 100%;
}

#ulli{
	width: 10%;
	height: 16%;
	position: absolute;
	top:8%;
	left:31.1%;
	z-index:9999;
	display: none;
}
#ullii{
	width: 1%;
	height: 16%;
	position: absolute;
	top:8%;
	left:30.1%;
	z-index:99999;
}
#ulliii{
	width: 10%;
	height: 1%;
	position: absolute;
	top:24%;
	left:31.1%;
	z-index:99999;
}
#ulliiii{
	width: 1%;
	height: 16%;
	position: absolute;
	top:8%;
	left:41.1%;
	z-index:99999;
}
#ulli ul{
	margin: 0;
	padding: 0;
}
#ulli ul li{
	background-color:#a6a6ff;
	width: 100%;
	height: 50%;
	list-style: none;
	text-align: center;
	
}
#zones{
	width: 100%;
	height: 100%;
	text-align: center;
	
}
.lines{
	width: 100%;
	height: 25%;
}
#mapsss{
	width: 100%;
	height: 50%;
	text-align: center;
	font-size: 16px;
	
}
#ulli ul li:HOVER {
	background-color: #4242ff;
}


