<html>
<head>
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>


<script type="text/javascript">

	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope,$http) {
	    $scope.carname = {a:"A",b:"B"};
	    $scope.car = {value:$scope.carname.a};
	    $scope.getdata = function() {
	    	if($scope.car.value == "A"){
	    		$http.get("/xingfeng/getFileListOne").success(function(data){
		    		$scope.name = data;
		    	});
	    	}else if($scope.car.value == "B"){
	    		$http.get("/xingfeng/getFileListTwo").success(function(data){
		    		$scope.name = data;
		    	});
	    	}
	    }
	});
</script>


</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div>
		<select name = "fileList" ng-model="car.value">
			<option>{{carname.a}}</option>
			<option>{{carname.b}}</option>
		</select>
	</div>
	<div>
		<input type="button" value="Get" ng-click="getdata()">
	</div>
	<div>
		<select name = "fileList">
			<option ng-repeat="a in name">
				{{a}}
			</option>
		</select>
	</div>
</body>
</html>